@font-face {
  font-family: 'Comic Sans MS';
  src: url("assets/COMIC.TTF");
}

body,html{
  height: 99%;
  margin: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-image: url('assets/a844fb83-ba9b-4fc2-82b3-80d9890289cf.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -1;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  overflow-x: hidden; 
}

header{
  position:relative;
  width: 100%;
  height: 50px;
  z-index: 100;
}

main{
  position: relative;
  z-index: 100;
  height: calc(100% - 70px);
  width:100%;
}

footer{
  position: absolute;
  bottom: 0px;
  height: 20px;
  width: 100%;
  z-index: 100;
}

canvas{
  position: absolute;
  height: 100%;
  width:100%;
  top: 0;
  z-index: 0;
  pointer-events: none; 
}

p,h2,h3{
  margin:0;
}


.header_item{
  display: block;
}


#bets_menu{
  font-size: 20px;
  width:20%;
  height: 80%;
  margin: 20px 1% 20px 5%;
  border-radius: 20px;
  border: 1px solid #000000;
  float:left;
  background-color: rgba(255,255,255,0.1);
}

#bets_menu table{
  border-spacing: 10px 20px;

}

#bets_menu td{
  width: 50%;
}


#teams_container{
  width:60%;
  height:80%;
  margin-right:5%;
  float:right;
}

#teams{
  height: 90%;
  display:grid;
  justify-content: center;
  
  margin-top: 20px;
  grid-template-columns: 40% 40%;
  grid-column-gap: 80px;
  grid-row-gap: 40px;
  

  
}

.team{
  border: 1px solid #000000;
  border-radius: 20px;
  justify-content: center;
  flex-direction: row;
  display: flex;

  
}

.player{
  margin: 20px;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


.player img{
  height: 100px;
  width: 100px;
  /* margin: 5px; */
  position: relative;

}

.player p{
  position: relative;
  top:-150px;
}

.body{
  top:150px;
  z-index: 100;
}

.bracelet{
  top:-50px;
  z-index: 101;
}

.head{
  top:50px;
  z-index: 101;
} 

.pendant{
  top:-150px;
  z-index: 101;
}


#join_button{
  display: block;
  border: 1px solid #000000;
  background-color: #ffae00;
  border-radius: 20px;
  width: 150px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  font-size: 30px;
}

#nickname_input{
  display: block;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color:black;
  text-align: center;
  font-size: 15px;
}

#join_button:hover{
  cursor: pointer;
}

#coins{
  margin-top: 10px;
  margin-left: 10px;
  padding-right: 10px;
  float: left;
  background-color: #252525;
  color: white;
  border-radius: 25px;
  border: 1px solid #8c9500;
}

#coins img{
  float:left;
  height: 30px; width: auto;
  margin: 0 -5px -10px -5px;
}
#coins p{
  float:left;
  margin-right: 5px;
  font-size: 25px;
  margin: -5px 0 -5px 0;
}

#socials{
  z-index: 100;
  margin-top: 10px;
  float: right ;
}

#socials img{
  height: 30px; width: auto;
  margin: 0 5px 0 5px;
}


#next_match_timer{
  float:right;
  margin: 20px;
  margin-right: 20%;
  font-size: 20px;
}

#beta_label{
  float: right ;
  font-family: "Unifont";
  color: white;
  margin-right: 10px;
}

#current_bet_match{
  margin-top: 10px;
  margin-left: 10px;
  padding-right: 10px;
  float: left;
  font-size: large;
}

#notification{
  display: none;
  position: absolute;
  width: 30%;
  min-width: 200px;
  height: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right:0;
  background-color: green;
  border: 1px solid black;
  border-radius: 25px;
  top: 10px;
  font-size: large;
  z-index: 1000;
}

#darken{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
#bets{
  height: 70%;
  width: 100%;
  text-align: center;
}

.coeff{
  border: 1px solid #000000;
  user-select: none;
}

#bets .coeff:hover{
  cursor: pointer;
}

#bets_upper_menu{
  height: 30%;
  display: flex;
  flex-direction: row;
}

#currency_selector{
  width:50%;
  margin-top: 20px;
}
#cur_bet_container{
  width:50%;
  margin-top: 20px;
  text-align: center ;
}

#currency_selected{
  display: flex;
  flex-direction: row;
  height: 30%;
} 

#currency_selected img{
  height: 30px;
  width:auto;
  margin-right: 10px;
  margin-left: 10px;
}

#selector{
  display: flex;
  flex-direction: column;
  height: 70%;
}

#selector input{
  margin-left: 5%;
  margin-right: 5%;
}

#selector_buttons{
  display: flex;
  flex-direction: row;
  height: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
  
}

#selector_buttons button{
  width:40%;
  margin-left: 5%;
  margin-right: 5%;
  
  border-radius: 0;
  border: 1px solid #000000;
  background-color: rgba(0, 0, 0, 0.3);

  color: white;
  font-size: 20px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


#cur_bet{
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#circle{
  display: none;
  margin-top: 10px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: blue;
}
#cur_bet input{
  margin-top: 10px;
  height:15px;
  width: auto;
}
#cur_bet p{
  margin-left: 10px;
  margin-right: 5px;
}

#wrong_resolution{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right:0;
  top: 10px;
  font-size: large;
  z-index: 1000;
  background-color: black;
}

.overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #c7c7c7;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 0px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: red;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}