/* This code selects all paragraph elements within a div with the class "container" and sets their font size to 16 pixels. */
body,html{
  height: 100%;
  margin: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-image: url('assets/a844fb83-ba9b-4fc2-82b3-80d9890289cf.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 50;
  color: white;
  border: 1px solid black;
}

header{
  width: 100%;
  height: 50px;
}

main{
  height: calc(100% - 70px);
  width:100%;
}

footer{
  position: absolute;
  bottom: 0px;
  height: 20px;
  width: 100%;
}

canvas{
  position: absolute;
  height: 100%;
  width:100%;
  top: 0;
  z-index: 50;
  pointer-events: none; 
}

p,h2,h3{
  margin:0;
}


.header_item{
  display: block;
}

.main_item{
  justify-content: center;
  display: flex;
}

.team{
  width:25%;
  padding-top: 5%;
  padding-bottom: 5%;
  float:left;
  justify-content: center;
  display: flex;
}

.team img{
  height: 100%; width: auto;
  max-height: 25vw;
  z-index: 101;
}

#blue_team_img:hover{
  box-shadow: 0 5px 15px blue;
  cursor: pointer;
}

#red_team_img:hover{
  box-shadow: 0 5px 15px red;
  cursor: pointer;
}

#yellow_team_img:hover{
  box-shadow: 0 5px 15px yellow;
  cursor: pointer;
}

#green_team_img:hover{
  box-shadow: 0 5px 15px green;
  cursor: pointer;
}

#coins{
  margin-top: 10px;
  margin-left: 10px;
  padding-right: 10px;
  float: left;
  background-color: #252525;
  color: white;
  border-radius: 25px;
  border: 1px solid #8c9500;
}

#coins img{
  float:left;
  height: 30px; width: auto;
  margin: 0 -5px -10px -5px;
}
#coins p{
  float:left;
  margin-right: 5px;
  font-size: 25px;
  margin: -5px 0 -5px 0;
}

#socials{
  margin-top: 10px;
  float: right ;
}

#socials img{
  height: 30px; width: auto;
  margin: 0 5px 0 5px;
}

#beta_label{
  float: right ;
  font-family: "Unifont";
  color: white;
  margin-right: 10px;
}

#choose_your_team_label{
  height:10%;
}

#next_match_timer{
  height:10%;
  flex-direction: column;
  text-align: center;
}

#teams_container{
  height:60%;
  padding-left:10%;
  padding-right:10%;
}

#join{
  height:20%;
}

#join{
  background-color: #707070;
  border: 1px solid black;
  max-height: 75px;
  border-radius: 25px;
  max-width: 150px;
  margin:auto;
  flex-direction: column;
  text-align: center;
  z-index: 101;
  color:#ababab;
}

#join:hover{
  background-color: #535353;
}

